.show-control-pane-button {
  position: absolute;
  // WHY?
  bottom: 93.7%;
  left: 2%;
  box-shadow: 1px 5px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.show-error-pane-button {
  position: absolute;
  top: 0%;
  right: 15%;
  box-shadow: 1px 5px 0px rgba(0, 0, 0, 0.25);
  z-index: 0;
}

.clock-dock {
  position: absolute;
  left: 0%;
  top: 48%;
  height: 25px;
  width: 25px;
  opacity: 0.75;
  background-color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 7px;

  -webkit-user-select: none;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;

  img{
    max-width: 100%;
    max-height: 100%;
  }
}

.clock-dock:hover {
  opacity: 0.90;
}

.clock-widget {
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: white;
  border: black;
  border-width: 3px;
  opacity: 0.65;
  box-shadow: 1px 5px 0px rgba(0, 0, 0.5, 0.5);
  z-index: 1;
  padding: 2px;
  border-top-left-radius: 75px;
  border-top-right-radius: 75px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform-origin: center;

  .power-reading {
    margin-top: 5px;
    font-size: 23px;
    text-align: center;
    width: 100%;
    opacity: 0.55;
    border-radius: 8px;
    background-color: black;
    color: white;

    -webkit-user-select: none;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
  }

  .power-reading:hover {
    opacity: 0.75;
  }

  .prediction-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    right: 3px;
    top: 114px;

    img{
      max-width: 100%;
      max-height: 100%;
  }
  }

  .minimize-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 4px;
    top: 114px;

    img{
        max-width: 100%;
        max-height: 100%;
    }
  }

  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity  0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  
}

.clock-widget:hover {
  opacity: 0.90;
}

.sample-ui {
  position: absolute;
  display: block;
  float: right;
  background-origin: border-box;
  background-color: #333;
  color: white;
  bottom: 10%;
  left: 2%;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  cursor: default;
  border-radius: 5px;
  border-color: var(--buic-foreground-body);
  padding: 10px;
  border-style: solid;
  z-index: 1;
}

.sample-error-ui {
  position: absolute;
  display: block;
  float: right;
  background-origin: border-box;
  background-color: #333;
  color: white;
  top: 1%;
  right: 15%;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  cursor: default;
  border-radius: 5px;
  border-color: var(--buic-foreground-body);
  padding: 10px;
  border-style: solid;
  z-index: 1;
}

.control-pane-header {
  display: flex;
  flex-direction: row;

  .control-pane-minimize {
    padding: 0;
  }

  .sample-instructions {
    display: flex;
    flex-grow: 1;
  }

  .sample-instructions > span {
    flex-grow: 1;
    min-width: 100px;
    width: 300px;
  }

  .control-pane-close-button {
    float: right;
    padding-top: 4px;
  }
}

.error-pane-header {
  display: flex;
  flex-direction: row;

  .control-pane-minimize {
    padding: 0;
  }

  .sample-instructions {
    display: flex;
    flex-grow: 1;
  }

  .sample-instructions > span {
    flex-grow: 1;
    min-width: 100px;
    width: 200px;
  }

  .control-pane-close-button {
    float: right;
    padding-top: 4px;
  }
}

.minimize-button {
  cursor: pointer;
  height: 16px;
  width: 16px;
  fill: white;
  padding: 10px 16px 10px 16px;
}
.minimize-button:hover {
  fill:#fff;
}

#ml-form {
  display: table;
}

.ml-p {
  display: table-row;
}

.ml-label {
  display: table-cell;
}

.ml-input {
  display: table-cell;
  margin-left: 10px;
  width: 92%;
}

.ml-submit {
  display: table-cell !important;
  width: 80% !important;
  margin-top: 5px !important;
}

#ml-power-result {
  vertical-align: middle;
  height: 19px;
  resize: none;
}

li.show-power {
  list-style: none;
  // background: red;
  // color: #fff;
  height: 0;
  line-height: 1em;
  margin: 0;
  padding: 0 0.5em;
  overflow: hidden;
  width: 10em;
  height: 4.4em;
  margin: 2px 0;
  width: 100%;
  font-size: 13px;
  cursor: pointer;
}

li.show-temp {
  list-style: none;
  color: black;
  height: 0;
  line-height: 1em;
  margin: 0;
  padding: 0 0.5em;
  overflow: hidden;
  width: 10em;
  height: 4.2em;
  margin: 2px 0;
  width: 100%;
  font-size: 13px;
  cursor: pointer;
}

li.show-power-error {
  list-style: none;
  color: black;
  height: 0;
  line-height: 1em;
  margin: 0;
  padding: 0 0.5em;
  overflow: hidden;
  width: 10em;
  height: 3.7em;
  margin: 2px 0;
  width: 87%;
  cursor: pointer;
  // border: 2px solid red;
}

li.show-temp-error {
  list-style: none;
  color: black;
  height: 0;
  line-height: 1em;
  margin: 0;
  padding: 0 0.5em;
  overflow: hidden;
  width: 10em;
  height: 3.7em;
  margin: 2px 0;
  width: 87%;
  cursor: pointer;
  // border: 2px solid purple;
}

li.show-non-error {
  list-style: none;
  color: black;
  height: 0;
  line-height: 1em;
  margin: 0;
  padding: 0 0.5em;
  overflow: hidden;
  width: 10em;
  height: 4.4em;
  margin: 2px 0;
  width: 87%;
  cursor: pointer;
  // border: 2px solid lightgrey;
}

li.show-power-error:hover {
  background-color: palevioletred;
}

li.show-temp-error:hover {
  background-color: plum;
}

li.show-non-error:hover {
  background-color: powderblue;
}


#list {
  padding: 2px !important;
  margin: 0;
}

.error-enter {
  opacity: 0.01;
}

.error-enter.error-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.error-exit {
  opacity: 1;
}

.error-leave.error-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.minimize-error-panel {
  cursor: pointer;
  height: 16px;
  width: 16px;
  fill: grey;
  padding: 10px 16px 10px 16px;
  float: right;
}

.minimize-error-panel:hover {
  fill:black;
}

.rcorners {
  border: 4px solid #73AD21;
  padding: 4px;
  text-align: left;
}

.time-caption {
  font-size: 9px;
  float: right;
  line-height: 0.5;
  margin-top: 5px;
}

$foreground-body: white;
$foreground-primary: #A5D7F5;
$width: 230px;

.card-transition {
  border-radius:3px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
  color: $foreground-body;
  position: relative;
  display: inline-block;
  backdrop-filter: blur(10px);
  background-color: rgba( invert($foreground-body), .45 );
  padding: 8px;
  width: $width;
  user-select: none;
  opacity: .85;
  transition: box-shadow .4s ease-out, opacity .4s ease-out;
  overflow: hidden;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: box-shadow .4s ease-out, opacity .4s ease-out;

  
  > h1 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  >.data {
    display: grid;
    grid-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    
    >.left {
      // background-color: pink;
      text-align: right;
      opacity: .65;
    }
    
    >.right {
      // background-color: red;
      font-weight: 600;
    }
   }
}

.card {
  border-radius:3px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
  color: $foreground-body;
  position: relative;
  display: inline-block;
  backdrop-filter: blur(10px);
  background-color: rgba( invert($foreground-body), .45 );
  padding: 8px;
  width: $width;
  user-select: none;
  opacity: .85;
  transition: box-shadow .4s ease-out, opacity .4s ease-out;
  overflow: hidden;
  
  &:hover {
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.25);
    opacity: 1;
    transition: box-shadow .4s ease-out, opacity .4s ease-out;
  }

  
  > h1 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  >.data {
    display: grid;
    grid-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    
    >.left {
      // background-color: pink;
      text-align: right;
      opacity: .65;
    }
    
    >.right {
      // background-color: red;
      font-weight: 600;
    }
   }
}

$color-5: #61EA1C;
$color-4: #00FFFF;
$color-3: #FFF200;
$color-2: #FF6600;
$color-1: #ED1C24;

.card-power-alert {
  display: block;
  border-left: 3px solid black;
  padding: 2px 0px 0px 24px;
  line-height: 1.3;
  position: relative;
  width: 100%;
  height: 100%;
  
  > svg {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 3px;
    top: 3px;
  }
  
  > .title {
    font-weight: 600;
    margin: 0;
  }

  > .id {
    margin: 0;
  }

  > .metadata {
    margin: 0;
    font-size: 9px;
    text-align: left;
  }
  
  > button {
    border: 1px solid #dce0e3;
    background-color: white;
    padding: 8px 14px;
    border-radius: 3px;
    margin-top: 6px;
    cursor: pointer;
  }
}

.card-power-status {
  display: block;
  border-left: 3px solid black;
  border-bottom: 2px solid black;
  padding: 2px 0px 0px 10px;
  line-height: 1.3;
  position: relative;
  width: 100%;
  height: 7em;
  
  > svg {
    width: 16px;
    height: 16px;
    position: static !important;
    left: 3px;
    top: 3px;
    float: right;
  }

  > .back-button {
    margin-right: 10px;
    fill: grey;

    &:hover {
      cursor: pointer;
      fill:black;
    }
  }
  
  > .title {
    font-weight: 600;
    margin-bottom: 5px;
  }

  > .metadata {
    font-size: 12px;
    text-align: left;
    margin: 5px;
  }
  
  > button {
    border: 1px solid #dce0e3;
    background-color: white;
    padding: 8px 14px;
    border-radius: 3px;
    margin-top: 6px;
    cursor: pointer;
  }
}

.card-alert {
  display: block;
  border-left: 3px solid black;
  padding: 2px 0px 0px 24px;
  line-height: 1.3;
  position: relative;
  width: 100%;
  height: 100%;
  
  > svg {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 3px;
    top: 3px;
  }
  
  > .title {
    font-weight: 600;
    margin: 0;
  }

  > .id {
    margin: 0;
  }

  > .metadata {
    margin: 0;
    font-size: 9px;
    text-align: center;
  }
  
  > button {
    border: 1px solid #dce0e3;
    background-color: white;
    padding: 8px 14px;
    border-radius: 3px;
    margin-top: 6px;
    cursor: pointer;
  }
}

.priority-5 {
  background-color: rgba($color-5, .1);
  border-color: $color-5;
}
.priority-4 {
  background-color: rgba($color-4, .1);
  border-color: $color-4;
}
.priority-3 {
  background-color: rgba($color-3, .1);
  border-color: $color-3;
}
.priority-2 {
  background-color: rgba($color-2, .1);
  border-color: $color-2;
}
.priority-1 {
  background-color: rgba($color-1, .1);
  border-color: $color-1;
}
.uifw-animation-overlay {
  display: none !important;
}

.itwin-viewer-container {
  height: 100vh !important;
}