.show-control-pane-button {
  position: absolute;
  bottom: 10%;
  left: 2%;
  box-shadow: 1px 5px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.show-error-pane-button {
  position: absolute;
  bottom: 10%;
  right: 15%;
  box-shadow: 1px 5px 0px rgba(0, 0, 0, 0.25);
  z-index: 0;
}

.sample-ui {
  position: absolute;
  display: block;
  float: right;
  background-origin: border-box;
  background-color: #333;
  color: white;
  bottom: 10%;
  left: 2%;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  cursor: default;
  border-radius: 5px;
  border-color: var(--buic-foreground-body);
  padding: 10px;
  border-style: solid;
  z-index: 1;
}

.sample-error-ui {
  position: absolute;
  display: block;
  float: right;
  background-origin: border-box;
  background-color: #333;
  color: white;
  bottom: 10%;
  right: 15%;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  cursor: default;
  border-radius: 5px;
  border-color: var(--buic-foreground-body);
  padding: 10px;
  border-style: solid;
  z-index: 1;
}

.control-pane-header {
  display: flex;
  flex-direction: row;

  .control-pane-minimize {
    padding: 0;
  }

  .sample-instructions {
    display: flex;
    flex-grow: 1;
  }

  .sample-instructions > span {
    flex-grow: 1;
    min-width: 100px;
    width: 300px;
  }

  .control-pane-close-button {
    float: right;
    padding-top: 4px;
  }
}

.error-pane-header {
  display: flex;
  flex-direction: row;

  .control-pane-minimize {
    padding: 0;
  }

  .sample-instructions {
    display: flex;
    flex-grow: 1;
  }

  .sample-instructions > span {
    flex-grow: 1;
    min-width: 100px;
    width: 200px;
  }

  .control-pane-close-button {
    float: right;
    padding-top: 4px;
  }
}

.minimize-button {
  cursor: pointer;
  height: 16px;
  width: 16px;
  fill: white;
  padding: 10px 16px 10px 16px;
}
.minimize-button:hover {
  fill:#fff;
}

#ml-form {
  display: table;
}

.ml-p {
  display: table-row;
}

.ml-label {
  display: table-cell;
}

.ml-input {
  display: table-cell;
  margin-left: 10px;
  width: 92%;
}

.ml-submit {
  display: table-cell !important;
  width: 80% !important;
  margin-top: 5px !important;
}

#ml-power-result {
  vertical-align: middle;
  height: 19px;
  resize: none;
}

li.show {
  list-style: none;
  background: #d1703c;
  color: #fff;
  height: 0;
  line-height: 1em;
  margin: 0;
  padding: 0 0.5em;
  overflow: hidden;
  width: 10em;
  height: 3.2em;
  margin: 2px 0;
  width: 100%;
  cursor: pointer;
}

li.show-temp {
  list-style: none;
  background: #73AD21;
  color: #fff;
  height: 0;
  line-height: 1em;
  margin: 0;
  padding: 0 0.5em;
  overflow: hidden;
  width: 10em;
  height: 3.2em;
  margin: 2px 0;
  width: 100%;
  cursor: pointer;
}

li.show-power-error {
  list-style: none;
  color: black;
  height: 0;
  line-height: 1em;
  margin: 0;
  padding: 0 0.5em;
  overflow: hidden;
  width: 10em;
  height: 3.2em;
  margin: 2px 0;
  width: 87%;
  cursor: pointer;
  border: 2px solid red;
}

li.show-temp-error {
  list-style: none;
  color: black;
  height: 0;
  line-height: 1em;
  margin: 0;
  padding: 0 0.5em;
  overflow: hidden;
  width: 10em;
  height: 3.2em;
  margin: 2px 0;
  width: 87%;
  cursor: pointer;
  border: 2px solid purple;
}

li.show-non-error {
  list-style: none;
  color: black;
  height: 0;
  line-height: 1em;
  margin: 0;
  padding: 0 0.5em;
  overflow: hidden;
  width: 10em;
  height: 3.2em;
  margin: 2px 0;
  width: 87%;
  cursor: pointer;
  // border: 2px solid red;
}

li.show-power-error:hover {
  background-color: palevioletred;
}

li.show-temp-error:hover {
  background-color: plum;
}

li.show-non-error:hover {
  background-color: powderblue;
}


#list {
  padding: 2px !important;
  margin: 0;
}

.error-enter {
  opacity: 0.01;
}

.error-enter.error-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.error-exit {
  opacity: 1;
}

.error-leave.error-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.minimize-error-panel {
  cursor: pointer;
  height: 16px;
  width: 16px;
  fill: grey;
  padding: 10px 16px 10px 16px;
  float: right;
}

.minimize-error-panel:hover {
  fill:black;
}

.rcorners {
  border: 4px solid #73AD21;
  padding: 4px;
  text-align: left;
}