<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/4fffeeaa-e3df-41e4-8031-2898abe531d0/resourceGroups/AzureMLGroup/providers/Microsoft.ContainerRegistry/registries/c4bcede3ad6a467cbc4121d470af18f8</ResourceId>
    <ResourceName>c4bcede3ad6a467cbc4121d470af18f8</ResourceName>
    <ResourceGroup>AzureMLGroup</ResourceGroup>
    <Subscription>CDS Azure Internal Consumption</Subscription>
    <RegistryUrl>https://c4bcede3ad6a467cbc4121d470af18f8.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>619ebc4a-7947-4022-839c-e902d4df3626</ProjectGuid>
  </PropertyGroup>
</Project>